<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div class="container">
        <h2 class="text-danger" th:text="${error != null} ? ${error}"></h2>
        <div class="list-group">
            <a href="#" class="list-group-item active">회원가입</a>
            <div class="list-group-item">
                <form id="join-form" action="/accounts/join" th:action="@{/accounts/join}" th:object="${create}" method="post">
                    <div class="form-group">
                        <label>아이디</label>
                        <input type="text" class="form-control" id="accId" name="accId" placeholder="아이디를 입력하세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('accId')}" th:errors="*{accId}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label>비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="패스워드를 입력하세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label>비밀번호 확인</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="패스워드 한번더 입력해주세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('cpassword')}" th:errors="*{cpassword}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label>연락처</label>
                        <input type="text" class="form-control" id="phoneNumb" name="phoneNumb" placeholder="'-'를 빼고 숫자만 입력해주세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('phoneNumb')}" th:errors="*{phoneNumb}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label>알리고 아이디</label>
                        <input type="text" class="form-control" id="aligoId" name="aligoId" placeholder="알리고 아이디를 입력해주세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('aligoId')}" th:errors="*{aligoId}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label>알리고 키</label>
                        <input type="text" class="form-control" id="aligoKey" name="aligoKey" placeholder="알리고 키를 입력해주세요.">
                        <div class="text-danger form-text" th:if="${#fields.hasErrors('aligoKey')}" th:errors="*{aligoKey}">Name Error</div>
                    </div>
                    <div>
                        <button type="submit" id="btn-submit" class="btn btn-primary">등록하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>