{{#partial "contents"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="./index.html">JUNGWON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between"
         id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">메인</a> 
            <a class="nav-item nav-link" href="./index.html">메세지전송</a> 
            <a class="nav-item nav-link" href="./event.html">결과조회</a> 
            <a class="nav-item nav-link" href="./blog.html">수불정보조회</a>
        </div>
        <div class="navbar-nav mr-sm-2">
            <a class="nav-item nav-link" href="/accounts/login">로그인</a>
            <a class="nav-item nav-link active" href="/accounts/join">회원가입</a>

            <!--<a class="nav-item nav-link" href="./userLogout.html">로그아웃</a>-->
            <!--<a class="nav-item nav-link" href="./userEdit.html">회원정보</a>-->
        </div>
    </div>
</nav>
    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item active">회원가입</a>
            <div class="list-group-item">
                <form id="join-form">	
                    <div class="form-group">
                        <label>아이디</label>
                        <input type="text" class="form-control" id="accountId" name="accountId" placeholder="아이디를 입력하세요.">
                    </div>
                    <div class="form-group">
                        <label>비밀번호</label>
                        <input type="password" class="form-control" id="password" placeholder="패스워드를 입력하세요.">
                    </div>
                    <div class="form-group">
                        <label>비밀번호 확인</label>
                        <input type="password" class="form-control" id="cpassword" placeholder="패스워드 한번더 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text" class="form-control" id="name" placeholder="이름을 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label>연락처</label>
                        <input type="text" class="form-control" id="phoneNumb" placeholder="연락처를 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label>알리고 아이디</label>
                        <input type="text" class="form-control" id="aligoId" placeholder="알리고 아이디를 입력해주세요.">
                    </div>
                    <div class="form-group">
                        <label>알리고 키</label>
                        <input type="text" class="form-control" id="aligoKey" placeholder="알리고 키를 입력해주세요.">
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-primary">수정하기</button>
                </form>
            </div>
        </div>
    </div>

{{/partial}}

{{> base }}