<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">환영합니다!</div>
            </div>
            <div class="panel-body">
                <form id="login-form" action="/accounts/login" method="post">
                    <div>
                        <input type="text" class="form-control" id="accId" name="accId" placeholder="AccountId"
                               autofocus>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                    </div>
                    <div>
                        <button type="submit" class="form-control btn btn-primary">로그인</button>
                        <!-- TODO csrf 적용, remember-me 구현 -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>