<!DOCTYPE html>
<html lang="kr">
<title>문자 발송 시스템</title>
<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">

<head>
    <title>문자 발송 시스템</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css"></head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">JUNGWON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between"
         id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">메인</a>
            <!-- 네비게이션바에 선택한 부분에 active 적용되게 --> 
            <a class="nav-item nav-link" href="/message/form">메세지전송</a>
            <a class="nav-item nav-link" href="/message/list">결과조회</a>
            <a class="nav-item nav-link" href="/storage/list">수불정보조회</a>
        </div>
        <div class="navbar-nav mr-sm-2">
            <a class="nav-item nav-link" href="/accounts/login">로그인</a>
            <a class="nav-item nav-link" href="/accounts/join">회원가입</a>
			<!-- TODO 로그인시 네이게이션바 로그아웃으로 변경되게 -->
            <!--<a class="nav-item nav-link" href="/account/logout">로그아웃</a>-->
            <!--<a class="nav-item nav-link" href="/account/update">회원정보</a>-->
        </div>
    </div>
</nav>

    <div class="container">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./img/image3.jpg"
                         alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./img/image2.jpg"
                         alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./img/image1.jpg"
                         alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button"
               data-slide="prev"> <span class="carousel-control-prev-icon"
                                        aria-hidden="true"></span> <span class="sr-only">이전 사진</span>
            </a> <a class="carousel-control-next" href="#carousel" role="button"
                    data-slide="next"> <span class="carousel-control-next-icon"
                                             aria-hidden="true"></span> <span class="sr-only">다음 사진</span>
        </a>
        </div>
    </div>

<footer class="bg-dark mt-4 p-4 text-center text-white">
    Copyright &copy; SANGCO 2018 </footer>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>