<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content" >
    <div class="container" id="main">
        <div class="panel panel-default content-main">

            <form id="uploadForm" method="post" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <button type="submit" class="btn btn-primary">업로드</button>
            </form>
            <br/>
            <br/>
            <br/>


            <table id="companyTable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>CompanyName</th>
                    <th>Type</th>
                    <th>PersonIncharge</th>
                    <th>Position</th>
                    <th>ContactNumb</th>

                </tr>
                </thead>
                <!-- tbody 태그 필요 없다. -->
            </table>

            <br/>
            <br/>
            <br/>
            <!-- TODO 몇글자 적고 있는지 플러그인 찾아보기 -->
            <form id="send-message">
                <div class="form-group">
                    <label for="title">제목</label> <input type="text"
                                                         class="form-control" id="title" name="title" placeholder="제목"/>
                </div>
                <div class="form-group">
                    <label for="msg">내용</label>
                    <textarea name="msg" id="msg" rows="5"
                              class="form-control"></textarea>
                </div>
                <button type="submit" id="btn-submit" class="btn btn-success clearfix pull-right">보내기</button>
                <div class="clearfix"/>
            </form>

            <br/>
            <br/>
            <br/>

            <div id="response-data"></div>

        </div>
    </div>
</div>
</html>


